{% extends 'base.html' %}

{% block title %} Libraza | Realizar Empréstimo {% endblock %}


{% block alert %}
<div class="modal fade justify-content-center" id="alert_modal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header text-center">
                <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="currentColor" class="bi bi-exclamation-circle me-2" viewBox="0 0 16 16">
                    <path d="M8 15A7 7 0 1 1 8 1a7 7 0 0 1 0 14zm0 1A8 8 0 1 0 8 0a8 8 0 0 0 0 16z"/>
                    <path d="M7.002 11a1 1 0 1 1 2 0 1 1 0 0 1-2 0zM7.1 4.995a.905.905 0 1 1 1.8 0l-.35 3.507a.552.552 0 0 1-1.1 0L7.1 4.995z"/>
                </svg>
                <h5 class="modal-title" id="alert_title"></h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <div id="alert_subtitle" class="text-center mb-3"></div>
                <div id="alert_msg" class="text-center" style="margin-left: -4%;"></div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Fechar</button>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}

{% block modal %}   
<div class="modal fade" id="action_modal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Realizar empréstimo?</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body text-center">
                <p>Deseja realizar a ação?</p>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancelar</button>
                    <button type="submit" class="btn btn-success" value="Submit" form="myform">
                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-check2-all" viewBox="1 0 16 16">
                            <path d="M12.354 4.354a.5.5 0 0 0-.708-.708L5 10.293 1.854 7.146a.5.5 0 1 0-.708.708l3.5 3.5a.5.5 0 0 0 .708 0l7-7zm-4.208 7-.896-.897.707-.707.543.543 6.646-6.647a.5.5 0 0 1 .708.708l-7 7a.5.5 0 0 1-.708 0z"/>
                            <path d="m5.354 7.146.896.897-.707.707-.897-.896a.5.5 0 1 1 .708-.708z"/>
                        </svg>
                        Realizar
                    </button>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}

{% block content %}
<div class="container position-relative">
    <div>
        <div>
            <h2 class="text-center mt-3 mb-4">Realizar Empréstimo</h2>
        </div>
        <form id="myform" action=" {{url_for('add.insert', path = 'loan')}} " method="{{method}}">
            {% for key in range (keys|length) %}
                {% if not keys_br[key] in exclude %}
                    <div class="row mb-3 d-flex justify-content-center">
                        <div class="col col-2 text-end ms-2">
                                <label class="form-label mt-2" for="{{keys[key]}}">{{keys_br[key]}}</label>
                        </div>
                        {% if  keys[key] in date %}
                            <div class="col col-6 ms-3">
                                <input class="form-control" type="date" id="{{keys[key]}}_input" name="{{keys[key]}}"> 
                            </div>
                        {% elif  keys[key] in read_only %}
                            <div class="col col-6 ms-3">
                                <input class="form-control" type="text" id="{{keys[key]}}_input" name="{{keys[key]}}" readonly>
                            </div>
                        {% else %}
                            <div class="col col-6 ms-3 d-flex">
                                <input class="form-control {{keys[key]}}" type="text" id="{{keys[key]}}_input" name="{{keys[key]}}" autocomplete="off">
                            </div>
                        {% endif %}
                        <div class="col col-2"></div>
                    </div>
                {% endif %}
            {% endfor %}
            <div class="row d-flex justify-content-center">
                <div class="col col-1"></div>
                <div class="col col-5 text-end ms-4 mb-3">
                    <button id="verify_button" type="button" class="btn btn-primary">
                        <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="currentColor" class="bi bi-check2" viewBox="1 0 16 16">
                            <path d="M13.854 3.646a.5.5 0 0 1 0 .708l-7 7a.5.5 0 0 1-.708 0l-3.5-3.5a.5.5 0 1 1 .708-.708L6.5 10.293l6.646-6.647a.5.5 0 0 1 .708 0z"/>
                        </svg>
                        Verificar
                    </button>
                </div>
            </div>
        </form>
    </div>
</div>
{% endblock %}

{% block secret %}
<div id="url">/verify/add/loan/</div>
<div id="method">{{method}}</div>
{% endblock %}