{% if path == 'book'%}
<div class="modal fade" id="deleteModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Remover {{object['title']}}?</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body text-center">
                <p>Para confirmar a ação digite o ISBN do livro abaixo.</p>
                <form id="modal-form" action=" {{ url_for('remove.remove', path = path, id = object['id']) }}" method="POST" class="form">
                    <div class="input-group mb-3">
                        <input type="text" name="barcode" class="form-control input_user" value="" placeholder="Codigo de Barras" />
                    </div>
                    {% if invalid %}
                        <p class="text-danger mt-2">Informações inválidas!</p>
                    {% endif %}
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Fechar</button>
                        <button type="submit" class="btn btn-danger" value="Submit">Remover</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

{% elif path == 'user'%}
<div class="modal fade" id="deleteModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Remover {{object['name']}}?</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body text-center">
                <p>Para confirmar a ação digite o CPF abaixo.</p>
                <form id="modal-form" action=" {{ url_for('remove.remove', path = path, id = object['id']) }}" method="POST" class="form">
                    <div class="input-group mb-3">
                        <input type="text" name="cpf" class="form-control input_user" value="" placeholder="CPF">
                    </div>
                    {% if invalid %}
                        <p class="text-danger mt-2">Informações inválidas!</p>
                    {% endif %}
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Fechar</button>
                        <button type="submit" class="btn btn-danger" value="Submit">Remover</button>
                    </div>
                </form> 
            </div>
        </div>
    </div>
</div>
{% endif %}