.list-card{
    transition: all .4s ease;
}

.list-card:hover{
    transform: scale(1.15);
}

.text-shadow {
    text-shadow: 1px 1px 3px rgba(0, 0, 0);   
}

.card-shadow{
    box-shadow: 2px 3px 3px rgba(0, 0, 0, .8);   
}

.mt-m1 {
    margin-top: -1%;    
}

.mt-m5 {
    margin-top: -5%;    
}

.pointer{
    cursor: pointer;
}