{% extends "base.html" %} 

{% block title %}
Libraza | {{object['title']}}
{% endblock %} 

{%block head%}
<link rel="preconnect" href="https://fonts.googleapis.com" />
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
<link href="https://fonts.googleapis.com/css2?family=Oxygen:wght@300&display=swap" rel="stylesheet" />
<link rel="preconnect" href="https://fonts.googleapis.com" />
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
<link href="https://fonts.googleapis.com/css2?family=Ubuntu:wght@400;700&display=swap" rel="stylesheet" />
<link href="{{url_for('static', filename='css/book_style.css')}}" rel="stylesheet" />
<script>
    function invalidModal() {
        document.getElementById("remove-button").click();
    }
</script>
{% endblock %} 

{% block body_modify %} 
    {% if invalid %} 
        onload = "invalidModal()" 
    {% endif %} 
{% endblock %} 

{% block modal %}
    {% include 'modal/delete_action_modal.html' %}
{% endblock %}

{% block content%}
<div class="">
    <div class="row mb-1 mt-3 text-center">
        <div class="col"><h1>{{title}}</h1></div>
    </div>
    <div class="container">
        <div class="row mb-3 card-shadow">
            <div class="col col-5 bg-dark text-center">
                <img src="{{object['cover']}}" alt="Capa!" class="w-50 mt-3 mb-3" />
            </div>
            <div class="col col-7">
                <div class="row" style="height: 88%;">
                    <div class="ms-1" style="font-family: 'Oxygen', sans-serif;">
                        <h2 class="mt-3">{{object['title']}}</h2>
                        <h5 class="">{{object['author']}}</h5>
                        <h5 class="mb-3">{{object['year_publication']}} - {{object['genre']}} - {{object['edition']}}ª Edição - {{object['barcode']}}</h5>
                        <div class="pb-5">
                            <p>{{object['description']}}</p>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col col-7">
                        <div class="row">
                            <div class="col col-12 text-start mt-2">
                                {% if object['available_amount'] > 1 %}
                                    <div class="text-success">
                                        {{object['available_amount']}} unidades disponíveis
                                        <p class="text-dark ms-2" style="display: inline;">Estante: {{object['stand']}} Prateleira: {{object['shelf']}}</p>
                                    </div>
                                {% else %}
                                <p class="text-danger">Indisponível</p>
                                {% endif %}
                            </div>
                        </div>
                    </div>
                    <div class="col text-end">
                        {% if username %}
                            <button id="remove-button" type="button" class="btn btn-danger" data-bs-toggle="modal" data-bs-target="#deleteModal">
                                <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="currentColor" class="bi bi-trash" viewBox="0 0 16 16">
                                    <path d="M5.5 5.5A.5.5 0 0 1 6 6v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5zm2.5 0a.5.5 0 0 1 .5.5v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5zm3 .5a.5.5 0 0 0-1 0v6a.5.5 0 0 0 1 0V6z"/>
                                    <path fill-rule="evenodd" d="M14.5 3a1 1 0 0 1-1 1H13v9a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2V4h-.5a1 1 0 0 1-1-1V2a1 1 0 0 1 1-1H6a1 1 0 0 1 1-1h2a1 1 0 0 1 1 1h3.5a1 1 0 0 1 1 1v1zM4.118 4 4 4.059V13a1 1 0 0 0 1 1h6a1 1 0 0 0 1-1V4.059L11.882 4H4.118zM2.5 3V2h11v1h-11z"/>
                                </svg>
                                Remover
                            </button>
                            <a href=" {{ url_for('edit.edit', path = path, id = object['id']) }}">
                                <button class="btn btn-warning">
                                    <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="currentColor" class="bi bi-pencil" viewBox="0 0 16 16">
                                        <path d="M12.146.146a.5.5 0 0 1 .708 0l3 3a.5.5 0 0 1 0 .708l-10 10a.5.5 0 0 1-.168.11l-5 2a.5.5 0 0 1-.65-.65l2-5a.5.5 0 0 1 .11-.168l10-10zM11.207 2.5 13.5 4.793 14.793 3.5 12.5 1.207 11.207 2.5zm1.586 3L10.5 3.207 4 9.707V10h.5a.5.5 0 0 1 .5.5v.5h.5a.5.5 0 0 1 .5.5v.5h.293l6.5-6.5zm-9.761 5.175-.106.106-1.528 3.821 3.821-1.528.106-.106A.5.5 0 0 1 5 12.5V12h-.5a.5.5 0 0 1-.5-.5V11h-.5a.5.5 0 0 1-.468-.325z"/>
                                    </svg>
                                    Editar
                                </button>
                            </a>
                        {% endif %}
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
