{% extends "base.html" %}

{% block title %}{{title}}{% endblock %}

{% block font %}
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Oxygen:wght@300&display=swap" rel="stylesheet"> 
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Ubuntu:wght@400;700&display=swap" rel="stylesheet"> 
    <link href="{{url_for('static', filename='css/book_style.css')}}" rel="stylesheet">
{% endblock %}


{% block modal %}   

    <div class="modal fade" id="deleteModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Remover {{object['title']}}?</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body text-center">
                    <p>Para confirmar a ação digite o codigo de barras abaixo.</p>
                    <form id="modal-form" action=" {{ url_for('remove.remove', path = path, id = object['id']) }}" method="POST" class="form">
                        <div class="input-group mb-3">
                            <input type="text" name="barcode" class="form-control input_user" value="" placeholder="Codigo de Barras">
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Fechar</button>
                            <button type="submit" class="btn btn-danger" value="Submit">Remover</button>
                        </div>
                    </form> 
                </div>
            </div>
        </div>
    </div>

{% endblock %}

{% block content%}
    <div class="">
        <div class="row mb-1 mt-3 text-center">
            <div class="col"><h1>{{title}}</h1></div>
        </div>
        {% if invalid %}
            <div class="row mt-1 mb-3 text-center justify-content-center">
                <div class="bg-warning w-25 rounded"><p class="text-danger mt-2">Informações inválidas!</p></div>
            </div>
        {% endif %}
        <div class="container">
            <div class="row mb-3 card-shadow">
                <div class="col col-5 bg-dark text-center">
                    <img src="{{object['cover']}}" alt="Capa!" class="w-50"/>
                </div>
                <div class="col col-7">
                    <div class="row">
                        <div class="ms-1" style="font-family: 'Oxygen', sans-serif;">
                            <h2 class="mt-3">{{object['title']}}</h2>
                            <h5 class="">{{object['author']}}</h5>
                            <h5 class="mb-3">{{object['year_publication']}} - {{object['genre']}} - {{object['edition']}}ª Edição - {{object['barcode']}}</h5>
                            <p>{{object['description']}}</p>
                        </div>
                    </div>
                    <div class="row mt-5">
                        <div class="col">
                            <div class="row h-50 w-100">
                                <div class="col col-3 text-center ms-1">
                                    <p class="text-success available-shadow">Disponível</p>
                                </div>
                                <div class="col col-8 text-center ms-1">
                                    <p>Estante: {{object['stand']}} Prateleira: {{object['shelf']}}</p>
                                </div>
                            </div>
                        </div>
                        <div class="col text-end">
                            {% if username %}
                                <button id="remove-button" type="button" class="btn btn-danger" data-bs-toggle="modal" data-bs-target="#deleteModal">Remover</button>
                                <a href=" {{ url_for('edit.edit', path = path, id = object['id']) }}"><button class="btn btn-warning">Editar</button></a>
                            {% endif %}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}