{% extends "base.html" %}

{% block title %}
    {{object['title']}}
{% endblock %}

{% block font %}
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Oxygen:wght@300&display=swap" rel="stylesheet"> 
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Ubuntu:wght@400;700&display=swap" rel="stylesheet"> 
{% endblock %}

{% block style %}
    <style type="text/css">

        .available-shadow {
            text-shadow: 1px 1px 3px rgba(0, 255, 0, .5);   
        }

        .card-shadow{
            box-shadow: 1px 1px 3px rgba(0, 0, 0, .5);   
        }

    </style>
{% endblock %}

{% block content%}
    <div class="">
        <div class="row mb-3 mt-3 text-center">
            <div class="col"><h1>{{title}} {{id}}</h1></div>
        </div>
        <div class="container">
            <div class="row mb-3 card-shadow">
                <div class="col col-5 bg-dark text-center">
                    <img src="{{object['cover']}}" alt="Capa!" class="w-50"/>
                </div>
                <div class="col col-7">
                    <div class="row">
                        <div class="ms-1" style="font-family: 'Oxygen', sans-serif;">
                            <h2 class="mt-3">{{object['title']}}</h2>
                            <h5 class="">{{object['author']}}</h5>
                            <h5 class="mb-3">{{object['year_publication']}} - {{object['genre']}} - {{object['edition']}}ª Edição - {{object['barcode']}}</h5>
                            <p>{{object['description']}}</p>
                        </div>
                    </div>
                    <div class="row mt-5">
                        <div class="col">
                            <div class="row h-75 w-100">
                                <div class="col col-3 text-center ms-1";">
                                    <p class="text-success available-shadow">Disponível</p>
                                </div>
                                <div class="col col-8 text-center ms-1";">
                                    <p>Estante: {{object['stand']}} Prateleira: {{object['shelf']}}</p>
                                </div>
                            </div>
                        </div>
                        <div class="col text-end">
                            <button class="btn btn-primary">Solicitar empréstimo</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}