{% extends "base.html" %}

{% block title %}
    {{title}}
{% endblock %}

{% block font %}
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Oxygen:wght@300&display=swap" rel="stylesheet"> 
{% endblock %}

{% block content%}
    <div class="">
        <div class="row mb-3 mt-3 text-center">
            <div class="col"><h1>{{title}} {{id}}</h1></div>
        </div>
        <div class="container">
            <div class="row mb-3">
                <div class="col col-5 bg-dark text-center">
                    <img src="{{object['cover']}}" alt="Capa!" class="w-50"/>
                </div>
                <div class="col col-7" style="background-color: rgba(47, 79, 79, .1);">
                    <div class="row" style="height: 85%;">
                        <div class="ms-1" style="font-family: 'Oxygen', sans-serif; 
                        ">
                            <h2 class="">{{object['title']}}</h2>
                            <h4 class="">{{object['author']}}</h4>
                            <h4 class="">{{object['gender']}}</h4>
                            <h4 class="mb-3">{{object['year_publication']}}</h4>
                            <p>{{object['description']}}</p>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col">
                            <div class="row h-75 w-50">
                                <div class="col text-center">
                                    <div id="circle_status" class="bg-success rounded-circle h-25 w-25" style="margin-top: 20%; margin-left: 10%;"></div>
                                </div>
                                <div class="col col-6 text-center" style="padding: 2%;">
                                    <p id="text_statur" class="text-dark" style="margin-left: -100%;">Disponível</p>
                                </div>
                            </div>
                        </div>
                        <div class="col text-end">
                            <button class="btn btn-primary">Solicitar empréstimo</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}