{% extends "base.html" %}
{% block title %}Erro 404{% endblock %}

{% block font %}
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Ubuntu:wght@400;700&display=swap" rel="stylesheet"> 
{% endblock %}

{% block content %}

    <div class="row">
        <div class="col col-7 text-center">
            <img src={{url_for('static', filename='img/erro_404.png')}} class="ms-auto w-75">
        </div>
        <div class="col col-3 align-self-center text-center">
            <h1 style="font-family: 'Ubuntu', sans-serif;"><b>ERRO 404</b></h1>
            <h3 style="font-family: 'Ubuntu', sans-serif;"><b>NÃO ENCONTRADO!</b></h3>
        </div>
    </div>

{% endblock %}