{% extends "base.html" %}
{% block title %}{{mode}} {{title}}{% endblock %}
{% block font %}
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Secular+One&display=swap" rel="stylesheet"> 
{%endblock%}

{% block content %}
    <div class="container position-relative">
        <div>
            <div>
                <h2 class="text-center mt-3 mb-4">{{mode|upper}} {{title|upper}}</h2>
            </div>
            <form method="{{method}}">
                {% for key in range (object|length) %}
                    {% if not keys_br[key] in exclude %}
                        <div class="row mb-3 d-flex justify-content-center">
                            <div class="col col-2 text-end ms-2">
                                    <label class="form-label mt-2" for="{{object[key]}}">{{keys_br[key]}}</label>
                            </div>
                            {% if object[key] in only_numbers %}
                                <div class="col col-6 ms-3">
                                    <input class="form-control" type="number" id="{{object[key]}}_input" name="{{object[key]}}" style="-webkit-appearance: none; -moz-appearance: textfield;"  value="{{values[key]}}"> 
                                </div>
                            {% elif  object[key] in big_text %}
                                <div class="col col-6 ms-3">
                                    <textarea class="form-control" id="{{object[key]}}_input" name="{{object[key]}}">{{values[key]}}</textarea> 
                                </div>
                            {% elif  object[key] in date %}
                                <div class="col col-6 ms-3">
                                    <input class="form-control" type="date" id="{{object[key]}}_input" name="{{object[key]}}"  value="{{values[key]}}"> 
                                </div>
                            {% else %}
                                <div class="col col-6 ms-3">
                                    <input class="form-control" type="text" id="{{object[key]}}_input" name="{{object[key]}}" value="{{values[key]}}">
                                </div>
                            {% endif %}
                            <div class="col col-2"></div>
                        </div>
                    {% endif %}
                {% endfor %}
                <div class="row d-flex justify-content-center">
                    <div class="col col-1"></div>
                    <div class="col col-5 text-end ms-4 mb-3">
                        <button class="btn btn-primary" type="submit" value="submit">{{mode}}</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
{% endblock %}