{% extends "base.html" %}
{% block mode %}{{mode}}{% endblock %}
{% block title %}{{title}}{% endblock %}
{% block font %}
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Secular+One&display=swap" rel="stylesheet"> 
{%endblock%}

{% block content %}
    <div class="container position-relative">
        <div id="form">
            <form action="">
                {% for key in range (keys|length) %}
                    <h3 class="text-center mt-2">{{sub_title[key]}}</h3>
                    {% for k in keys[key] %}
                        {% if not k in exclude %}
                            <div class="row mb-3 d-flex justify-content-center">
                                <div class="col col-2 text-end ms-2">
                                        <label class="form-label mt-2" for="{{k}}">{{k}}</label>
                                </div>
                                {% if k in only_numbers %}
                                    <div class="col col-6 ms-3">
                                        <input class="form-control" type="number" id="{{k}}_input" name="{{k}}_name" style="-webkit-appearance: none; -moz-appearance: textfield;"> 
                                    </div>
                                {% elif k in big_text%}
                                    <div class="col col-6 ms-3">
                                        <textarea class="form-control" id="{{k}}_input" name="{{k}}_name"></textarea> 
                                    </div>
                                {% elif k in date %}
                                    <div class="col col-6 ms-3">
                                        <input class="form-control" type="date" id="{{k}}_input" name="{{k}}_name""> 
                                    </div>
                                {% else %}
                                    <div class="col col-6 ms-3">
                                        <input class="form-control" type="text" id="{{k}}_input" name="{{k}}_name">
                                    </div>
                                {% endif %}
                                <div class="col col-2"></div>
                            </div>
                        {% endif %}
                    {% endfor %}
                {% endfor %}
                <div class="row d-flex justify-content-center">
                    <div class="col col-1"></div>
                    <div class="col col-5 text-end ms-4 mb-3">
                        <button class="btn btn-primary" type="submit">{{mode}}</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
{% endblock %}