{% extends "base.html" %}
{% block title %}{{title|title}}{% endblock %}

{% block head %}
    <link href="{{url_for('static', filename='css/user_style.css')}}" rel="stylesheet">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Ubuntu:wght@400;700&display=swap" rel="stylesheet">
{% endblock %}
 
{% block content %}
    <div>
        <h2 class="text-center mt-3 mb-4">{{title|upper}}</h2>
    </div>
    <div class="row ms-3 col-lg-11 justify-content-center" style="margin-top: -2%;">
        {% for object in objects %}
            {% if object['confiability'] == 'Bronze' %}
                <div class="col col-md-2 text-center rounded rounded-lg bronze-card-bg animation ms-5 text-shadow p-3 card-shadow list-card mt-5">
            {% elif object['confiability'] == 'Prata' %}
                <div class="col col-md-2 text-center rounded rounded-lg silver-card-bg text-secondary animation ms-5 p-3 card-shadow list-card mt-5">
            {% elif object['confiability'] == 'Ouro' %}
                <div class="col col-md-2 text-center rounded rounded-lg gold-card-bg animation ms-5  p-3 card-shadow list-card mt-5">
            {% endif %}
                    <a href=" {{ url_for('show.getOne', path = path, id = object['id']) }}" class="text-decoration-none" style="color:inherit;">
                        <div class="" style="font-family: 'Ubuntu', sans-serif;">
                            </b>{{object['name']}}</b> <br>
                            </b>{{object['cpf']}}</b>
                        </div>
                    </a>
                </div>
        {% endfor%}
    </div>
{% endblock %}